@import "tailwindcss"; 
 

.large_image::after{  
    opacity: var(--displayimg);
    display: block;
    content: "";
    height: 100%;
    width:  100%; 
    object-fit: fill;
    border-radius: 12px;
    background-color: black; 
    background-position: var(--zoom-x) var(--zoom-y); 
    background-image: var(--imgurl);
    background-repeat: no-repeat;
    background-size: 200%;  
    position: absolute;
    top: 0px;
    left: 0px; 
    transition: opacity 0.2s; 
    cursor: pointer;
}  

input::-webkit-inner-spin-button,
 input::-webkit-outer-spin-button{
    display: none;
} 